@model TimesheetGeneratorApp.Models.HariLiburModel

@{
    Layout = "~/Views/Shared/_template_admin.cshtml";
    ViewData["menu_hari_libur"] = "active";
}

@section CSS {
    <partial name="~/Views/Shared/_loader.cshtml" />
}


<h1 class="mb-4">
    <a class="btn btn-info" asp-action="Index"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    Hari Libur - Update</h1>
<div class="card mb-3">
    <div class="card-body">
        <div class="card-title mb-3">
            <h4>Generate Data</h4>
        </div>
        <form asp-action="Edit" method="post" class="form-generate">
            <div class="form-group mb-3">
                <label class="form-label">Project</label>
                <input type="text" class="form-control" name="year" required />
            </div>
            <div class=" form-group">
                <input class="btn btn-primary" type="submit" name="btn_generate" value="Update" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(".form-generate").on('submit', function () {
            $("#loader").addClass('active');
            return true;
        })
    </script>
}