@model IEnumerable<TimesheetGeneratorApp.Models.HariLiburModel>

@{
    Layout = "~/Views/Shared/_template_admin.cshtml";
    ViewData["menu_hari_libur"] = "active";
}

@section Css {
    <link href="https: //cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
    <partial name="~/Views/Shared/_loader.cshtml" />
}

<h1 class="mb-3">Data Hari Libur</h1>
<partial name="~/Views/Shared/_alert_message.cshtml" />

@if (Model.Count() == 0)
{
    <a asp-action="Create" class="btn btn-primary text-white mb-3">Add</a>
} else {
    <a asp-action="Edit" class="btn btn-primary text-white mb-3">Edit</a>
}

<div class="card mb-3">
    <div class="card-body">
        <div class="card-title mb-3">
            <h3>Tabel Hari Libur Tahunh3>
        </div>
        <table class="table table-stripped table-hover" id="dataTable">
            <thead>
                <tr>
                    <th>Tanggal</th>
                    <th>Hari Libur</th>
                    <th>Libur Nasional</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(((DateTime)item.holiday_date).ToString("dd MMM yyyy"))
                        </td>
                        <td>
                            @item.holiday_name
                        </td>   
                        <td>
                            @if (item.is_national_holiday)
                            {
                                <span class="badge bg-success">Y</span>
                            } else {
                                <span class="badge bg-danger">N</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $("#dataTable").DataTable({
            "ordering": false
        });
    </script>
}